{% load static%}  
  
  <!-- Team Start -->
  <div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
      <div class="wow fadeInUp" data-wow-delay="0.1s">
        <p class="section-title text-secondary justify-content-center"><span></span>Our Team<span></span></p>
        <h1 class="text-center mb-5">Meet Our Team</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item bg-light rounded">
            <div class="text-center border-bottom p-4">
              <img class="img-fluid   mb-4" src="{% static 'img/boaz1.jpg' %}" alt="">
              <h5>Boaz Sottie</h5>
              <span>Backend Developer</span>
            </div>
            <div class="d-flex justify-content-center p-4">
              <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item bg-light rounded">
            <div class="text-center border-bottom p-4">
              <img class="img-fluid  mb-4" src="{% static 'img/juli.jpg' %}" alt="">
              <h5>Julius Boakye</h5>
              <span>CEO</span>
            </div>
            <div class="d-flex justify-content-center p-4">
              <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item bg-light rounded">
            <div class="text-center border-bottom p-4">
              <img class="img-fluid  mb-4" src="{% static 'img/lit.jpg' %}" alt="">
              <h5>Benjamin Agbaga</h5>
              <span>Frontend Developer</span>
            </div>
            <div class="d-flex justify-content-center p-4">
              <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>


      


    </div>
  </div>
<!-- Team End -->